doctype html
html(ng-app='weddingApp')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')

    title= "Kaitlin & Brendan's Wedding"
    meta(name='description', content="Kaitlin & Brendan's Wedding Website")
    meta(name='author', content='Brendan Heussler')

    link(rel='stylesheet', href='components/montserrat-webfont/css/montserrat-webfont.min.css')
    link(rel='stylesheet', href='components/typopro-web/web/TypoPRO-Lora/TypoPRO-Lora.css')
    link(rel='stylesheet', href='components/font-awesome/css/font-awesome.min.css')
    link(rel='stylesheet', href='components/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='components/blueimp-gallery/css/blueimp-gallery.min.css')
    link(rel='stylesheet', href='components/blueimp-bootstrap-image-gallery/css/bootstrap-image-gallery.min.css')
    link(rel='stylesheet', href='components/angular-motion/dist/angular-motion.min.css')

    link(rel='stylesheet', href='/stylesheets/css/style.css')

  body(id='page-top', data-target='.navbar-fixed-top', ng-controller='mainController')
    nav(class='navbar navbar-custom navbar-fixed-top', role='navigation', bs-collapse, data-start-collapsed='true')
      .container
        .navbar-header
          button(type='button', class='navbar-toggle', bs-collapse-toggle)
            i.fa.fa-bars
          a(class='navbar-brand page-scroll', href='#page-top')
            span.light Kaitlin <i class="fa fa-anchor"></i> Brendan

        div(class='navbar-collapse navbar-left', ng-cloak, bs-collapse-target)
          ul(class='nav navbar-nav', bs-scrollspy-list)
            li.hidden
              a(href='#page-top')
            li
              //TODO Replace links with variables
              a(class='page-scroll', href="#our_wedding") Our Wedding
            li
              a(class='page-scroll', href='#photos') Photos
            li
              a(class='page-scroll', href='#details') Details
            li
              a(class='page-scroll', href='#registry') Registry

    block intro
    block our_wedding
    block photos
    block details
    block registry
    block footer

    script(src='components/jquery/dist/jquery.min.js')
    script(src='components/jquery-easing/jquery.easing.min.js')
    script(src='components/angular/angular.min.js')
    script(src='components/angular-animate/angular-animate.min.js')
    script(src='components/angular-strap/dist/angular-strap.min.js')
    script(src='components/angular-strap/dist/angular-strap.tpl.min.js')
    script(src='components/blueimp-gallery/js/blueimp-gallery.min.js')
    script(src='components/blueimp-bootstrap-image-gallery/js/bootstrap-image-gallery.min.js')

    script(src='javascripts/grayscale.js')
    script(src='javascripts/weddingApp.js')
