doctype html
html(ng-app='weddingApp')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')

    title= "Kaitlin & Brendan's Wedding"
    meta(name='description', content="Kaitlin & Brendan's Wedding Website")
    meta(name='author', content='Brendan Heussler')

    link(rel='stylesheet', href='components/montserrat-webfont/css/montserrat-webfont.min.css')
    link(rel='stylesheet', href='components/typopro-web/web/TypoPRO-Lora/TypoPRO-Lora.css')
    link(rel='stylesheet', href='components/font-awesome/css/font-awesome.min.css')
    link(rel='stylesheet', href='components/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='components/angular-motion/dist/angular-motion.min.css')
    link(rel='stylesheet', href='components/blueimp-gallery/css/blueimp-gallery.min.css')

    link(rel='stylesheet', href='/stylesheets/css/wedding-theme.css')

  body
    block body